/**
 * This is a stylesheet for a demo presentation for impress.js
 * 
 * It is not meant to be a part of impress.js and is not required by impress.js.
 * I expect that anyone creating a presentation for impress.js would create their own
 * set of styles.
 */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}

dt {  
	float:left;  
	padding:5px 0 5px 10px;  
	clear:both;  
	font-weight:bold;
}  
dd {  
	margin-left:100px;  
	padding:5px 5px 5px 10px;  
}  

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: separate;
    border-spacing: 40px 0px;
}

td {
	position: relative;
	white-space: nowrap;
	padding-right: 30px;
	padding-bottom: 30px;
}

p {
	font-family: 'PT Serif', georgia, serif;
	padding: 10px;
}

td > h1 {
	font-size: 200%;
}

p.c {
	text-align: center;
}

p.r {
	text-align: right;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;

	line-height: 1;
	margin-left: 120px;
    font-family: 'PT Sans', sans-serif;
    
    min-height: 740px;

    background: rgb(170, 170, 170);
    background: -webkit-radial-gradient(rgb(Y, 240, 240), rgb(190, 190, 190));
	background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));

    -webkit-font-smoothing: antialiased;
}

b, strong { font-weight: bold }
i, em { font-style: italic}

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    
    -webkit-transition: 0.5s;
	transition:         0.5s;
}

a:hover {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

/* COMMON STEP STYLES */

.step {
    /* width: 1000px;
    padding: 40px; */
	-webkit-transition: all 0.5s ease-in-out 0ms;

    -webkit-box-sizing: border-box;
	box-sizing:         border-box;

    /* font-family: 'PT Serif', georgia, serif; */

    line-height: 1.5;
}

/* STEP SPECIFIC STYLES */

/* hint on the first slide */

.hint {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 200px;
    
    background: rgba(0,0,0,0.5);
    color: #EEE;
    text-align: center;
    
    font-size: 50px;
    padding: 20px;
    
    z-index: 100;
    
    opacity: 0;
    
    -webkit-transform: translateY(400px);
    transform:         translateY(400px);

    -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
    transition:         opacity 1s,         transform 0.5s 1s;
}

.step-bored + .hint {
    opacity: 1;
    
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s;
    transition:         opacity 1s 5s,         transform 0.5s;
    
    -webkit-transform: translateY(0px);
    transform:         translateY(0px);
}


.step > h1 {
    font-size: 150px;
    
    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}

#title .footnote {
    font-size: 32px;
}

#ing {
    width: 500px;
}

#ing b {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

#ing.active .positioning {
    -webkit-transform: translateY(-10px);
    -moz-transform:    translateY(-10px);
    -ms-transform:     translateY(-10px);
    -o-transform:      translateY(-10px);
    transform:         translateY(-10px);

    -webkit-transition-delay: 1.5s;
    -moz-transition-delay:    1.5s;
    -ms-transition-delay:     1.5s;
    -o-transition-delay:      1.5s;
    transition-delay:         1.5s;
}

#ing.active .rotating {
    -webkit-transform: rotate(-10deg);
    -moz-transform:    rotate(-10deg);
    -ms-transform:     rotate(-10deg);
    -o-transform:      rotate(-10deg);
    transform:         rotate(-10deg);

    -webkit-transition-delay: 1.75s;
    -moz-transition-delay:    1.75s;
    -ms-transition-delay:     1.75s;
    -o-transition-delay:      1.75s;
    transition-delay:         1.75s;
}

#ing.active .scaling {
    -webkit-transform: scale(0.7);
    -moz-transform:    scale(0.7);
    -ms-transform:     scale(0.7);
    -o-transform:      scale(0.7);
    transform:         scale(0.7);

    -webkit-transition-delay: 2s;
    -moz-transition-delay:    2s;
    -ms-transition-delay:     2s;
    -o-transition-delay:      2s;
    transition-delay:         2s;

}

/*
 * SLIDE STEP STYLES
 *
 * inspired by: http://html5slides.googlecode.com/svn/trunk/styles.css
 *
 * ;)
 */

.slide {
    display: block;
	/* position: relative; */

    width: 900px;
    /* height: 700px; */

    padding: 40px 60px;

    border-radius: 10px;

    background-color: white;

    box-shadow: 1px 2px 20px rgba(0, 0, 0, .4);
    border: 1px solid rgba(0, 0, 0, .3);

    /* font-family: 'Open Sans', Arial, sans-serif; */

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 30px;
    line-height: 36px;

    letter-spacing: -1px;
	margin-bottom: 10px;
}

.slide h1 {
    padding-bottom: 20px;

}

.slide > h1:first-letter{
    font-size: 1.5em;
}

pre {
	margin: 0px 0px;
}

span.indent{
    padding: 0 20px; /* Or desired space*/
}
