/**
 * This is a stylesheet for a demo presentation for impress.js
 * 
 * It is not meant to be a part of impress.js and is not required by impress.js.
 * I expect that anyone creating a presentation for impress.js would create their own
 * set of styles.
 */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

::selection {
	background: #007;
	color: #FFF;
}

ol, ul {
    /* list-style: none; */
	padding-left: 10px;
	margin-left: 100px;
}

dt {  
	float:left;  
	/* padding:5px 0 5px 10px; */
	padding-right: 10px;
	clear:both;  
	font-weight:bold;
}  
dd {  
	margin-left:100px;  
	padding:5px 5px 5px 10px;  
}  

blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table.indexTable td > h1 {
	font-size: 220%;
    color: rgb(102, 102, 102);
}

p {
	font-family: 'PT Serif', georgia, serif;
	padding: 10px;
    line-height: 1.2;
}

.c {
	text-align: center;
}

.r {
	text-align: right;
}

.m {
	background : #DDD;
	color      : #007;
}

p code {
	font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	background-color: #f4f4f4;
	padding: 0px 3px;
	display: inline-block;
}


summary {
	color: rgb(0, 0, 0);
	text-align: center;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .1);
}

body {
	overflow-x: hidden;
	overflow-y: hidden;

	line-height: 1;
	margin-left: 20px;
    font-family: 'PT Sans', sans-serif;
    
    min-height: 740px;

    background: #FFF;
}

b, strong { font-weight: bold }
i, em { font-style: italic}

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    
    -webkit-transition: 0.5s;
	transition:         0.5s;
}

a:hover {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

.slide {
    display: block;
	/* position: relative; */

    width: 1000px;
	/* height: 700px; */

    padding: 40px 60px;

    border-radius: 10px;

	background-color: #FFF;
    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 40px;
    line-height: 36px;

    letter-spacing: -1px;
	margin-bottom: 10px;
}

.slide h1 {
    padding-bottom: 20px;
	line-height: 50px;
}

.slide > h1:first-letter{
	float: left;
    font-size: 2em;
}

pre {
	font-family: Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
	font-size: 0.6em;
	margin: 0px 0px;
}

span.indent{
    padding: 0 20px; /* Or desired space*/
}
